.carousel_item_description {
  border: 2px orange solid;
}

#page_title {
  border: 2px green solid;
}

#page_title h2,
p {
  border: 2px purple solid;
}

#map_container {
  border: 2px red solid;
}

#about {
  border: 2px blue solid;
  height: 500px;
  width: 100%;
}

#subtitle {
  font-style: italic;
}
