#page_title {
  border: 2px green solid;
  padding-top: 2%;
}

#page_title h2,
p {
  /* border: 2px purple solid; */
}

#subtitle {
  font-style: italic;
}

#map_overlay_container, #map_slider_container, #map_split_container {
  border: 2px black solid;
  width: 100%;
  height: 500px;
}

#about {
  border: 2px black solid;
  height: 500px;
  width: 100%;
}

body {
  background-color: #f0dddd;
}